.svg-mask {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%; }

text {
  font-family: 'Libre Barcode 39';
  font-size: 10vw;
  animation-name: textFill;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 1); }

@keyframes textFill {
  from {
    fill: #ffffff; }
  to {
    fill: #000000; } }

#top-text.mouseover {
  animation-name: onTextHoverFive;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

#middle-text.mouseover {
  animation-name: onTextHoverEight;
  animation-duration: 2.8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

#bottom-text.mouseover {
  animation-name: onTextHoverFive;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

@keyframes onTextHoverFive {
  0% {
    font-family: 'Libre Barcode 39';
    opacity: 1; }
  10% {
    opacity: 0; }
  40% {
    font-family: 'Raleway';
    font-size: 4.5vw;
    font-weight: 600;
    letter-spacing: 6px;
    opacity: 0; }
  100% {
    font-family: 'Raleway';
    font-size: 4.5vw;
    font-weight: 600;
    letter-spacing: 6px;
    opacity: 1; } }

@keyframes onTextHoverEight {
  0% {
    font-family: 'Libre Barcode 39';
    opacity: 1; }
  10% {
    opacity: 0; }
  40% {
    font-family: 'Raleway';
    font-size: 7vw;
    font-weight: 600;
    letter-spacing: 3px;
    opacity: 0; }
  100% {
    font-family: 'Raleway';
    font-size: 7vw;
    font-weight: 600;
    letter-spacing: 3px;
    opacity: 1; } }
