.svg-mask {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}

.canvas-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
}

text {
  font-family: 'Libre Barcode 39';
  font-size: 10vw;
  animation-name: textFill;
  animation-duration: 1.7s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 1);
}

@keyframes textFill {
  from {
    fill: #ffffff;
  }

  to {
    fill: #000000;
  }
}

$nameOne: onTextHoverFive;
$nameTwo: onTextHoverEight;
$names: $nameOne, $nameTwo;
$fonts: 'Monoton', 'Monoton';
$fontsizes: 4.5vw, 6vw;
$spacing: 6px, 3px;
$shadows: 0px 0px 5px #555, 0;

@mixin onTextHoverAnimation($seconds, $name) {
  animation-name: $name;
  animation-duration: $seconds;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#top-text.mouseover {
  @include onTextHoverAnimation(1.5s, $nameOne);
}

#middle-text.mouseover {
  @include onTextHoverAnimation(2.8s, $nameTwo);
}

#bottom-text.mouseover {
  @include onTextHoverAnimation(4s, $nameOne);
}

@mixin fonts($font, $fontsize, $space, $textshadow) {
  font-family: $font, cursive;
  font-size: $fontsize;
  letter-spacing: $space;
  text-shadow: $textshadow;
}

@for $i from 1 through length($names) {
  $fontsize: nth($fontsizes, $i);
  $space: nth($spacing, $i);
  $font: nth($fonts, $i);

  @keyframes #{nth($names, $i)} {
    0% {
      text-shadow: none;
      font-family: 'Libre Barcode 39';
      opacity: 1;
    }

    10% {
      opacity: 0;
    }

    40% {
      @include fonts($font, $fontsize, $space, $shadows);
      opacity: 0;
    }

    100% {
      @include fonts($font, $fontsize, $space, $shadows);
      opacity: 1;
    }
  }
}
