@import url("https://fonts.googleapis.com/css?family=Libre+Barcode+39");
@import url("https://fonts.googleapis.com/css?family=Faster+One");
.svg-mask {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%; }

text {
  font-size: 10vw;
  font-family: 'Libre Barcode 39', sans-serif; }

.app-container {
  position: absolute;
  top: 0;
  left: 0; }

.canvas-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 93vh; }

.app-wrapper {
  overflow: hidden;
  max-height: 100vh;
  max-width: 100vw; }
